/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

/* background color for navbar and footer */
.nav-bg {
    background-color: rgb(25, 39, 44);
}

/* aligns navbar items center */
.navbar {
    height: 12px;
    display: flex;
    align-items: center;
}

.jumbo-container{
    min-height: 70vh;
    display: flex;
    align-items: flex-end;
}

.container-bg-img{
    min-height: 105vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/images/parkBg.png);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
}

.park-map-img{
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/images/mapOfParks.png);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
}

.hero-text-search{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-text-search h1 {
    font-size: 4rem;
}

.find-bg {
    background-color: rgb(195, 110, 36);
}

/* TILT DIVIDER */
/* .custom-shape-divider-bottom-1699928325 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699928325 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1699928325 .shape-fill {
    fill: #FFFFFF;
} */


/* WAVE DIVIDER FOR SEARCH PAGE */
.custom-shape-divider-bottom-1699928242 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699928242 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1699928242 .shape-fill {
    fill: #FFFFFF;
}