/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

/* Background Color for Select Element Area */
.find-bg {
    background-color: rgb(159, 91, 44);
}

/* Background Color for main section of all pages*/
.main-bg {
    background-color: whitesmoke;
}

/* background color for navbar and footer */
.nav-bg {
    background-color: rgb(25, 39, 44);
}


/* Styles for Hero image container */
.jumbo-container{
    min-height: 70vh;
    display: flex;
    align-items: flex-end;
}

/* HERO images for each page */
/* Home page Hero Image */
.container-bg-img{
    min-height: 105vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/parkBg.png);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
}

/* National Park Search Page Hero Image */
.park-map-img{
    min-height: 35vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/mapOfParks.png);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
}

/* Mountains Information Page Hero Image */
.mountain-hero-img{
    min-height: 35vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.1)), url(../images/mountainClimbing.png);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
}   

/* Styles for Text within Hero Image area */
.hero-text{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
/* Styles for h1 in Hero Image Area  */
.hero-text h1 {
    font-size: 4rem;
}

.search-text h1 {
    font-size: 3.5rem;
}

/* Right padding for Mountain Select Output */
.desc-ul {
    padding-right: 32px;
}


/* WAVE DIVIDER FOR SEARCH PAGE */
.custom-shape-divider-bottom-1699928242 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699928242 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1699928242 .shape-fill {
    fill: whitesmoke;
}